$main-color: #8000ff;
$main-color-dark: #490092;
$secondary-color: #00ccff;
$secondary-color-dark: #00627a;
$main-max-width: 62rem;
$border-style: 1px solid white;
$spacing: 1.5rem;
$fuzz-size: 0.25rem;
$fuzz-shadow: 0 0 $fuzz-size $fuzz-size;
$side-gradient-area: 5%;
$fade-time: 0.5s;
$preview-sprite-size: 128px;

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(
        to right,
        $secondary-color-dark,
        black $side-gradient-area,
        black calc(100vw - #{$side-gradient-area}),
        $secondary-color-dark
    );
    color: white;
    font-size: 1rem;
}

%site-section {
    display: flex;
    width: $main-max-width;
    max-width: 100%;
}

h1,
h2,
p,
img,
span {
    margin: 0 0 $spacing;
}

h1,
h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 0 0 0.25rem white;
}

h1,
h2,
span {
    text-align: center;
}

p,
span {
    white-space: pre-wrap;
}

p {
    width: 100%;
}
