.divider {
    border-bottom: $border-style;
    margin-bottom: $spacing;
}

.button {
    color: white;
    text-decoration: none;
    background: $main-color-dark;
    padding: 0.5rem;
    border: $border-style;
    transition: all 0.25s;

    &:hover {
        color: $secondary-color-dark;
        background: white;
    }

    &.selected {
        color: $main-color-dark;
        background: white;
    }
}

a[target] {
    color: $secondary-color;

    &:visited {
        color: $secondary-color;
    }

    &:hover {
        text-decoration-color: white;
    }
}

.fade-enter {
    position: absolute;
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity $fade-time;
}

.fade-exit {
    position: absolute;
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity $fade-time;
}
