$main-color: #8000ff;
$main-color-dark: #490092;
$secondary-color: #00ccff;
$secondary-color-dark: #00627a;
$main-max-width: 62rem;
$border-style: 1px solid white;
$spacing: 1.5rem;
$fuzz-size: 0.25rem;
$fuzz-shadow: 0 0 $fuzz-size $fuzz-size;
$side-gradient-area: 5%;

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(
        to right,
        $secondary-color-dark,
        black $side-gradient-area,
        black calc(100vw - #{$side-gradient-area}),
        $secondary-color-dark
    );
    color: white;
    font-size: 1rem;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: calc(100vw - 100%);
}

.body {
    padding: 0 $side-gradient-area;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.divider {
    border-bottom: $border-style;
    margin-bottom: $spacing;
}

%site-section {
    display: flex;
    width: $main-max-width;
    max-width: 100%;
    text-align: center;
}

.button {
    color: white;
    text-decoration: none;
    background: $main-color-dark;
    padding: 0.5rem;
    border: $border-style;
    transition: all 0.25s;

    &:hover {
        color: $secondary-color-dark;
        background: white;
    }

    &.selected {
        color: $main-color-dark;
        background: white;
    }
}

%heading-font {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: normal;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    @extend .wrap;
    @extend %site-section;
    box-shadow: $fuzz-shadow $secondary-color-dark;
    background: $secondary-color-dark;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0.25rem;
    margin-bottom: $spacing;
    align-items: center;

    @media (min-width: $main-max-width) {
        margin-top: $spacing;
    }

    .bar {
        border-left: $border-style;
        border-right: $border-style;
        display: flex;
        padding: 0 0.25rem;
        margin: 0.25rem;
    }

    h1 {
        margin: 0 $spacing;
    }

    .button {
        margin: 0 0.25rem;
    }
}

h1,
h2,
p,
img,
span {
    margin: 0 0 $spacing;
}

h1,
h2 {
    @extend %heading-font;
    text-shadow: 0 0 0.25rem white;
}

p {
    text-align: left;
}

p,
span {
    white-space: pre-wrap;
}

.content {
    @extend %site-section;
    flex-direction: column;

    img {
        border: $border-style;
        filter: grayscale(100%);
    }
}

.projects {
    @extend .wrap;
    align-items: center;

    h2,
    img,
    span {
        margin-left: $spacing;
        margin-right: $spacing;
    }

    .button {
        width: 18.5rem;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 ($spacing / 2) + $fuzz-size $spacing;
        padding: $spacing 0 0;
        border: none;
        box-shadow: $fuzz-shadow $main-color-dark;

        &:hover {
            box-shadow: $fuzz-shadow white;

            img {
                filter: none;
            }
        }

        img {
            border: none;
            height: 8rem;
            max-width: calc(100% - #{$spacing * 2});
            object-fit: cover;
            background: black;
        }
    }
}

.contact {
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    word-break: break-word;
}

a[target] {
    color: $secondary-color;

    &:visited {
        color: $secondary-color;
    }

    &:hover {
        text-decoration-color: white;
    }
}

.resume {
    @extend .wrap;

    & > * {
        width: ($main-max-width / 2) - ($spacing / 2);
    }
}

.footer {
    @extend %site-section;
    flex-direction: column;

    a {
        margin: 0 $spacing / 2 $spacing;
    }
}
